@import 'ui-variables';

#message-list,
.column-MessageList,
.toolbar-MessageList,
.column-MessageListSidebar,
.toolbar-MessageListSidebar {
  background: @messagelist-bg;
}

.toolbar-MessageListSidebar {
  width: auto !important;
  left: auto !important;
  right: 0;
}

.sheet-toolbar .message-toolbar-items {
  position: absolute !important;
  right: 112px;
  z-index: 2;
}

#message-list .messages-wrap .scroll-region-content-inner {
  padding: 8px 0 36vh;
}

#message-list .message-header,
#message-list .message-item-wrap.collapsed .message-item-white-wrap,
#message-list .message-item-wrap.collapsed .message-item-area {
  padding: 0;
}

#message-list .message-item-area,
#message-list .footer-reply-area-wrap .footer-reply-area {
  padding: 20px !important;
}

#message-list .message-item-wrap .message-item-white-wrap,
#message-list .minified-bundle .msg-line,
#message-list .minified-bundle .num-messages,
#message-list .footer-reply-area-wrap {
  border: 1px solid @border-color;
  border-radius: @border-radius;
  box-shadow: 0 12px 28px fade(#000, 24%);
}

#message-list .message-item-wrap {
  margin: 10px 20px;
  border-radius: @border-radius !important;
}

#message-list .message-item-area .message-iframe-container {
  margin-top: 6px;
  border-top: 1px solid fade(@border-color, 80%);
}

#message-list .message-subject {
  color: @text-color;
}

#message-list .message-subject-wrap {
  margin: 10px auto 6px;
}

#message-list .header-toggle-control {
  top: 6px !important;
  left: -11px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#message-list .header-toggle-control img {
  zoom: 0.35 !important;
  -webkit-mask-repeat: no-repeat !important;
}

#message-list .footer-reply-area-wrap {
  margin: 10px 20px;
  border-top: none;
}

.thread-list-narrow .snippet-and-labels {
  margin-right: 0;
}

#message-list .message-header .message-actions-wrap {
  width: 58px;
}
